body, ul, li, a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

#header-bar {
    padding: 15px 0;
    font-size: 24px;
}

#header-bar ul {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
    padding: 0;
}

#header-bar ul li {
    margin: 0 20px;
}

#header-bar ul li a {
    transition: color 0.3s ease; 
}

#header-bar ul li a:hover {
    color: #C778DD;
}


.footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer-links {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.footer-links i {
    font-size: 30px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-links i:hover {
    transform: scale(1.2);
    color: #C778DD; 
}


@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .footer-links {
        gap: 15px;
    }

    .footer-links img {
        width: 35px;
        height: 35px;
    }
}